.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.8;
  //width: 100vh;
  form {
    background: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    div {
      margin-bottom: 10px;
    }
  }
}
